#navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  
  .content {
    padding: 16px;
  }
  
 
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  

  .sticky + .content {
    padding-top: 60px;
  }
  footer{
    background-color: rgba(0, 0, 0,0.81);
    margin-top: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    text-align: center;
}
.biriyani{
    padding-left: 5em;
}
.leftSide{
    text-align: center;
    padding: 15px;
    border: 2px solid black;
}
button{
  cursor:default;
}

.buttons{
  margin: 2rem;
  display: grid;
  justify-content:center;
}

.button{

  background-color:aqua;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

